body {
	background-image: url("http://i50.tinypic.com/300wrwm.jpg");
}

a:link {
  text-decoration: none;
  color: rgb(64, 37, 226);
}

a:visited {
  color: rgb(232, 44, 219);
}

a:hover {
  color: red;
  font-style: italic;
}

.top-box {
	border: 2px solid black;
	background-color: #f2f2f2;
	width: 800px;
	text-align: center;
	padding-bottom: 10px;
}

.breed {
	border: 1px solid black;
	margin: 10px;
}

.breed p {
	text-align: left;
	padding: 10px;
}

#frame1 {
	border: 3px solid black;
	background-color: #f2f2f2;
	margin-top: 20px;
}

.pseudo-link {
  color: rgb(64, 37, 226);
}

.pseudo-link:hover {
	color: red;
  font-style: italic;
	cursor: pointer;
}

#cap {
	border: 1px solid black;
	background-color: #f2f2f2;
	padding: 5px;
	text-align: center;
}

.top-box, #cap, #frame1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 400px) {
	body{
		background-color: red;
		background-image: none;
	}
}
