body {
	background-image: url("http://i50.tinypic.com/300wrwm.jpg");
}

a:link {
  text-decoration: none;
  color: rgb(64, 37, 226);
}

a:visited {
  color: rgb(232, 44, 219);
}

a:hover {
  color: red;
  font-style: italic;
}

.main {
	border: 2px solid black;
	background-color: #f2f2f2;
	position: absolute;
	left: 100px;
	width: 800px;
	text-align: center;
	padding-bottom: 10px;
}

#frame1{
	position: absolute;
	left: 100px;
	border: 3px solid black;
	top: 500px;
	background-color: #f2f2f2;
}

.pseudo-link {
  color: rgb(64, 37, 226);
}

.pseudo-link:hover {
	color: red;
  font-style: italic;
	cursor: pointer;
}

#cap{
	border: 1px solid black;
	background-color: #f2f2f2;
	position: absolute;
	left: 100px;
	margin-bottom: 10px;
	top: 450px;
}

@media (max-width: 400px) {
	body{
		background-color: red;
		background-image: none;
	}
}
